USE [QuanLiBanHang_DA1_2]
GO
/****** Object:  Table [dbo].[PurchaseOrder]    Script Date: 06/11/2017 11:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrder](
	[OrderNO] [nvarchar](20) NOT NULL,
	[OrderDate] [date] NULL,
	[DiscAmt] [decimal](18, 0) NULL,
	[TaxAmt] [decimal](18, 0) NULL,
	[TotalAmt] [decimal](18, 0) NULL,
	[OrverdueDate] [date] NULL,
	[PromAmt] [decimal](18, 0) NULL,
	[ComAmt] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderNO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[PurchaseOrder] ([OrderNO], [OrderDate], [DiscAmt], [TaxAmt], [TotalAmt], [OrverdueDate], [PromAmt], [ComAmt]) VALUES (N'P01', CAST(0xCD3C0B00 AS Date), CAST(3 AS Decimal(18, 0)), CAST(15 AS Decimal(18, 0)), CAST(312 AS Decimal(18, 0)), NULL, NULL, NULL)
INSERT [dbo].[PurchaseOrder] ([OrderNO], [OrderDate], [DiscAmt], [TaxAmt], [TotalAmt], [OrverdueDate], [PromAmt], [ComAmt]) VALUES (N'P02', CAST(0xCF3C0B00 AS Date), NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[PurchaseOrder] ([OrderNO], [OrderDate], [DiscAmt], [TaxAmt], [TotalAmt], [OrverdueDate], [PromAmt], [ComAmt]) VALUES (N'P03', CAST(0xCA3C0B00 AS Date), NULL, NULL, NULL, NULL, NULL, NULL)
/****** Object:  Table [dbo].[Employee]    Script Date: 06/11/2017 11:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[IDEmployee] [nvarchar](20) NOT NULL,
	[EmployeeName] [nvarchar](50) NOT NULL,
	[AddressEmployee] [nvarchar](50) NULL,
	[MaxDebt] [int] NULL,
	[MaxReceive] [int] NULL,
	[StatusEmployee] [nvarchar](5) NULL,
	[DescriptionEmployee] [nvarchar](200) NULL,
	[Email] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDEmployee] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Employee] ([IDEmployee], [EmployeeName], [AddressEmployee], [MaxDebt], [MaxReceive], [StatusEmployee], [DescriptionEmployee], [Email]) VALUES (N'E01', N'Dương Thành Dũng', N'Ngô Bệ', NULL, NULL, N'DHD', N'nhân viên thực tập', N'thanhdung@gmail.com')
INSERT [dbo].[Employee] ([IDEmployee], [EmployeeName], [AddressEmployee], [MaxDebt], [MaxReceive], [StatusEmployee], [DescriptionEmployee], [Email]) VALUES (N'E02', N'Trần Đại Nhân', N'Bùi Thị Xuân', NULL, NULL, N'DHD', N'thằng mới vào làm', N'dainhan@gmail.com')
INSERT [dbo].[Employee] ([IDEmployee], [EmployeeName], [AddressEmployee], [MaxDebt], [MaxReceive], [StatusEmployee], [DescriptionEmployee], [Email]) VALUES (N'E03', N'Nguyễn Quốc Khánh', N'Hàn Hải Nguyễn', NULL, NULL, N'DHD', N'thằng sắp bị đuổi', N'quockhanh@gmail.com')
/****** Object:  Table [dbo].[Unit]    Script Date: 06/11/2017 11:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unit](
	[UnitID] [nvarchar](20) NOT NULL,
	[UnitName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UnitID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Unit] ([UnitID], [UnitName]) VALUES (N'U01', N'Thùng')
INSERT [dbo].[Unit] ([UnitID], [UnitName]) VALUES (N'U02', N'Lẻ')
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 06/11/2017 11:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserName]    Script Date: 06/11/2017 11:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserName](
	[Username] [nvarchar](100) NOT NULL,
	[Password_] [nvarchar](200) NOT NULL,
	[Roles] [nvarchar](10) NOT NULL,
	[MaNV] [nvarchar](20) NULL,
	[Employee_IDEmployee] [nvarchar](20) NULL,
 CONSTRAINT [PK_dbo.UserName] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[UserName] ([Username], [Password_], [Roles], [MaNV], [Employee_IDEmployee]) VALUES (N'admin', N'123', N'admin', N'E01', NULL)
INSERT [dbo].[UserName] ([Username], [Password_], [Roles], [MaNV], [Employee_IDEmployee]) VALUES (N'cashier', N'123', N'cashier', N'E04', NULL)
INSERT [dbo].[UserName] ([Username], [Password_], [Roles], [MaNV], [Employee_IDEmployee]) VALUES (N'invt', N'123', N'invt', N'E05', NULL)
/****** Object:  Table [dbo].[Customer]    Script Date: 06/11/2017 11:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustID] [nvarchar](20) NOT NULL,
	[CustName] [nvarchar](50) NOT NULL,
	[AddressCust] [nvarchar](50) NULL,
	[IDEmployee] [nvarchar](20) NOT NULL,
	[Phone] [int] NULL,
	[MaxDebt] [int] NULL,
	[TimeDebt] [nvarchar](50) NULL,
	[StatusCust] [nvarchar](2) NOT NULL,
	[Fax] [nvarchar](20) NULL,
	[Email] [nvarchar](50) NULL,
	[Overdue] [int] NULL,
	[Amount] [decimal](18, 0) NULL,
	[OverDueAmt] [decimal](18, 0) NULL,
	[DueAmt] [decimal](18, 0) NULL,
	[DescriptionCust] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Customer] ([CustID], [CustName], [AddressCust], [IDEmployee], [Phone], [MaxDebt], [TimeDebt], [StatusCust], [Fax], [Email], [Overdue], [Amount], [OverDueAmt], [DueAmt], [DescriptionCust]) VALUES (N'C01', N'Huỳnh Vũ Lê', N'Cách mạng tháng 8', N'E01', NULL, NULL, NULL, N'AV', NULL, N'vule@gmail.com', NULL, NULL, NULL, NULL, N'thằng khách hay đòi hỏi')
INSERT [dbo].[Customer] ([CustID], [CustName], [AddressCust], [IDEmployee], [Phone], [MaxDebt], [TimeDebt], [StatusCust], [Fax], [Email], [Overdue], [Amount], [OverDueAmt], [DueAmt], [DescriptionCust]) VALUES (N'C02', N'Nguyễn Thị Như Thanh', N'Ngô Bệ', N'E01', NULL, NULL, NULL, N'AV', NULL, N'nhuthanh@gmail.com', NULL, NULL, NULL, NULL, N'khách thân thiêt')
INSERT [dbo].[Customer] ([CustID], [CustName], [AddressCust], [IDEmployee], [Phone], [MaxDebt], [TimeDebt], [StatusCust], [Fax], [Email], [Overdue], [Amount], [OverDueAmt], [DueAmt], [DescriptionCust]) VALUES (N'C03', N'Đào Duy Hoàng', N'Việt Nam', N'E04', NULL, NULL, NULL, N'UA', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
/****** Object:  Table [dbo].[Inventory]    Script Date: 06/11/2017 11:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory](
	[InvtID] [nvarchar](20) NOT NULL,
	[InvtName] [nvarchar](50) NOT NULL,
	[ClassName] [nvarchar](50) NULL,
	[UnitID] [nvarchar](20) NOT NULL,
	[SalesPriceT] [decimal](18, 0) NULL,
	[SalesPriceL] [decimal](18, 0) NULL,
	[SlsTax] [decimal](18, 0) NULL,
	[QtyStock] [int] NULL,
	[UnitRate] [int] NULL,
	[InvtDescription] [nvarchar](200) NULL,
	[Purchase] [int] NULL,
	[Sales] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[InvtID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Inventory] ([InvtID], [InvtName], [ClassName], [UnitID], [SalesPriceT], [SalesPriceL], [SlsTax], [QtyStock], [UnitRate], [InvtDescription], [Purchase], [Sales]) VALUES (N'I01', N'Acer Aspire E15', N'Laptop', N'U02', CAST(80 AS Decimal(18, 0)), CAST(100 AS Decimal(18, 0)), NULL, 20, NULL, NULL, 0, 0)
INSERT [dbo].[Inventory] ([InvtID], [InvtName], [ClassName], [UnitID], [SalesPriceT], [SalesPriceL], [SlsTax], [QtyStock], [UnitRate], [InvtDescription], [Purchase], [Sales]) VALUES (N'I02', N'Asus F55L', N'Laptop', N'U02', CAST(120 AS Decimal(18, 0)), CAST(140 AS Decimal(18, 0)), NULL, 5, NULL, NULL, 0, 0)
INSERT [dbo].[Inventory] ([InvtID], [InvtName], [ClassName], [UnitID], [SalesPriceT], [SalesPriceL], [SlsTax], [QtyStock], [UnitRate], [InvtDescription], [Purchase], [Sales]) VALUES (N'I03', N'MacBook Air', N'Laptop', N'U02', CAST(300 AS Decimal(18, 0)), CAST(400 AS Decimal(18, 0)), NULL, 21, NULL, NULL, 0, 0)
/****** Object:  Table [dbo].[Stock]    Script Date: 06/11/2017 11:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stock](
	[StockID] [nvarchar](20) NOT NULL,
	[StockDate] [date] NULL,
	[NoteStock] [nvarchar](50) NULL,
	[InvtID] [nvarchar](20) NOT NULL,
	[UnitID_Stock] [nvarchar](20) NOT NULL,
	[Quantity] [int] NULL,
	[Purchase] [int] NULL,
	[Sales] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[StockID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesOrder]    Script Date: 06/11/2017 11:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesOrder](
	[OrderNo] [nvarchar](20) NOT NULL,
	[OrderDate] [date] NOT NULL,
	[IDEmployee] [nvarchar](20) NOT NULL,
	[CustID] [nvarchar](20) NOT NULL,
	[TotalAmt] [decimal](18, 0) NULL,
	[SlsDescription] [nvarchar](200) NULL,
	[OverDueDate] [date] NULL,
	[OrderDisc] [decimal](18, 0) NULL,
	[TaxAmt] [decimal](18, 0) NULL,
	[Payment] [decimal](18, 0) NULL,
	[Debt] [decimal](18, 0) NULL,
	[VAT] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderNo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[SalesOrder] ([OrderNo], [OrderDate], [IDEmployee], [CustID], [TotalAmt], [SlsDescription], [OverDueDate], [OrderDisc], [TaxAmt], [Payment], [Debt], [VAT]) VALUES (N'S01', CAST(0xCE3C0B00 AS Date), N'E01', N'C01', CAST(228 AS Decimal(18, 0)), NULL, NULL, CAST(2 AS Decimal(18, 0)), CAST(11 AS Decimal(18, 0)), NULL, NULL, NULL)
INSERT [dbo].[SalesOrder] ([OrderNo], [OrderDate], [IDEmployee], [CustID], [TotalAmt], [SlsDescription], [OverDueDate], [OrderDisc], [TaxAmt], [Payment], [Debt], [VAT]) VALUES (N'S02', CAST(0xC43C0B00 AS Date), N'E02', N'C01', CAST(416 AS Decimal(18, 0)), NULL, NULL, CAST(4 AS Decimal(18, 0)), CAST(20 AS Decimal(18, 0)), NULL, NULL, NULL)
INSERT [dbo].[SalesOrder] ([OrderNo], [OrderDate], [IDEmployee], [CustID], [TotalAmt], [SlsDescription], [OverDueDate], [OrderDisc], [TaxAmt], [Payment], [Debt], [VAT]) VALUES (N'S03', CAST(0xD03C0B00 AS Date), N'E01', N'C03', CAST(1040 AS Decimal(18, 0)), NULL, NULL, CAST(10 AS Decimal(18, 0)), CAST(50 AS Decimal(18, 0)), NULL, NULL, NULL)
/****** Object:  Table [dbo].[Vendor]    Script Date: 06/11/2017 11:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendor](
	[VendorID] [nvarchar](20) NOT NULL,
	[VendorName] [nvarchar](50) NOT NULL,
	[AddressVendor] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Phone] [nvarchar](12) NULL,
	[Fax] [nvarchar](50) NULL,
	[DueAmt] [decimal](18, 0) NOT NULL,
	[Amount] [decimal](18, 0) NULL,
	[StatusVendor] [nvarchar](2) NULL,
	[DescriptionVendor] [nvarchar](200) NULL,
	[InvtID] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VendorID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 06/11/2017 11:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[CustID] [nvarchar](20) NOT NULL,
	[SalesPersonID] [nvarchar](20) NOT NULL,
	[PaymentNo] [nvarchar](20) NOT NULL,
	[PaymentDate] [date] NULL,
	[PaymentAmt] [decimal](18, 0) NULL,
	[Descript] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentNo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockTransfer]    Script Date: 06/11/2017 11:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockTransfer](
	[TransID] [nvarchar](20) NOT NULL,
	[FromStockID] [nvarchar](20) NOT NULL,
	[ToStockID] [nvarchar](20) NOT NULL,
	[TransDate] [date] NULL,
	[TotalAmt] [decimal](18, 0) NULL,
	[Descript] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[TransID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SlsOrderDetail]    Script Date: 06/11/2017 11:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SlsOrderDetail](
	[OrderNo] [nvarchar](20) NOT NULL,
	[InvtID] [nvarchar](20) NOT NULL,
	[UnitID] [nvarchar](20) NOT NULL,
	[Qty] [int] NULL,
	[SalesPrice] [decimal](18, 0) NULL,
	[DiscAmt] [decimal](18, 0) NULL,
	[TaxAmt] [decimal](18, 0) NULL,
	[Amount] [decimal](18, 0) NULL,
	[Discount] [decimal](18, 0) NULL,
	[DiscAmt1] [decimal](18, 0) NULL,
	[TaxAmt1] [decimal](18, 0) NULL,
 CONSTRAINT [SlsOrderDetail_OrderNo_InvtID_Pk] PRIMARY KEY CLUSTERED 
(
	[OrderNo] ASC,
	[InvtID] ASC,
	[UnitID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[SlsOrderDetail] ([OrderNo], [InvtID], [UnitID], [Qty], [SalesPrice], [DiscAmt], [TaxAmt], [Amount], [Discount], [DiscAmt1], [TaxAmt1]) VALUES (N'S01', N'I01', N'U02', 2, CAST(100 AS Decimal(18, 0)), NULL, NULL, CAST(208 AS Decimal(18, 0)), NULL, CAST(2 AS Decimal(18, 0)), CAST(10 AS Decimal(18, 0)))
INSERT [dbo].[SlsOrderDetail] ([OrderNo], [InvtID], [UnitID], [Qty], [SalesPrice], [DiscAmt], [TaxAmt], [Amount], [Discount], [DiscAmt1], [TaxAmt1]) VALUES (N'S01', N'I02', N'U01', 2, CAST(10 AS Decimal(18, 0)), NULL, NULL, CAST(20 AS Decimal(18, 0)), NULL, CAST(0 AS Decimal(18, 0)), CAST(1 AS Decimal(18, 0)))
INSERT [dbo].[SlsOrderDetail] ([OrderNo], [InvtID], [UnitID], [Qty], [SalesPrice], [DiscAmt], [TaxAmt], [Amount], [Discount], [DiscAmt1], [TaxAmt1]) VALUES (N'S02', N'I04', N'U02', 1, CAST(400 AS Decimal(18, 0)), NULL, NULL, CAST(416 AS Decimal(18, 0)), NULL, CAST(4 AS Decimal(18, 0)), CAST(20 AS Decimal(18, 0)))
/****** Object:  Table [dbo].[PurchaseOrdDetail]    Script Date: 06/11/2017 11:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrdDetail](
	[OrderNO] [nvarchar](20) NOT NULL,
	[InvtID] [nvarchar](20) NOT NULL,
	[UnitID] [nvarchar](20) NOT NULL,
	[Qty] [int] NULL,
	[PurchasePrice] [int] NULL,
	[DiscAmt] [int] NULL,
	[Amount] [int] NULL,
	[QtyProm] [decimal](18, 0) NULL,
	[QtyPromAmt] [decimal](18, 0) NULL,
	[AmtProm] [decimal](18, 0) NULL,
	[TaxAmt] [decimal](18, 0) NULL,
	[DiscAmt1] [decimal](18, 0) NULL,
	[TaxAmt1] [decimal](18, 0) NULL,
 CONSTRAINT [PurchaseOrdDetail_OrderNo_InvtID_Pk] PRIMARY KEY CLUSTERED 
(
	[OrderNO] ASC,
	[InvtID] ASC,
	[UnitID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[PurchaseOrdDetail] ([OrderNO], [InvtID], [UnitID], [Qty], [PurchasePrice], [DiscAmt], [Amount], [QtyProm], [QtyPromAmt], [AmtProm], [TaxAmt], [DiscAmt1], [TaxAmt1]) VALUES (N'P01', N'I01', N'U02', 2, 100, NULL, 208, NULL, NULL, NULL, NULL, CAST(2 AS Decimal(18, 0)), CAST(10 AS Decimal(18, 0)))
INSERT [dbo].[PurchaseOrdDetail] ([OrderNO], [InvtID], [UnitID], [Qty], [PurchasePrice], [DiscAmt], [Amount], [QtyProm], [QtyPromAmt], [AmtProm], [TaxAmt], [DiscAmt1], [TaxAmt1]) VALUES (N'P01', N'I02', N'U02', 1, 100, NULL, 104, NULL, NULL, NULL, NULL, CAST(1 AS Decimal(18, 0)), CAST(5 AS Decimal(18, 0)))
INSERT [dbo].[PurchaseOrdDetail] ([OrderNO], [InvtID], [UnitID], [Qty], [PurchasePrice], [DiscAmt], [Amount], [QtyProm], [QtyPromAmt], [AmtProm], [TaxAmt], [DiscAmt1], [TaxAmt1]) VALUES (N'P20170527001', N'I03', N'U02', 3, 100, NULL, 312, NULL, NULL, NULL, NULL, CAST(3 AS Decimal(18, 0)), CAST(15 AS Decimal(18, 0)))
/****** Object:  Trigger [Qty_Stock]    Script Date: 06/11/2017 11:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[Qty_Stock] ON [dbo].[Stock]
FOR INSERT, UPDATE, DELETE
AS 
BEGIN     
   DECLARE @StockID NVarchar(20) = (SELECT TOP 1 StockID FROM inserted)
   DECLARE @InvtID NVarchar(20) = (SELECT TOP 1 InvtID FROM inserted)
   
   DECLARE @Quantity int= (SELECT (SUM(Stock.Purchase - Stock.Sales)) FROM Stock WHERE StockID = @StockID and InvtID = @InvtID Group by Stock.StockID, Stock.InvtID)
   Update Stock set Quantity = @Quantity where StockID = @StockID and InvtID = @InvtID 
END
GO
/****** Object:  Table [dbo].[StkTransDetail]    Script Date: 06/11/2017 11:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StkTransDetail](
	[TransID] [nvarchar](20) NOT NULL,
	[InvtID] [nvarchar](20) NOT NULL,
	[Qty] [int] NOT NULL,
	[Amount] [decimal](18, 0) NOT NULL,
 CONSTRAINT [StkTransDetail_TransID_InvtID_PK] PRIMARY KEY CLUSTERED 
(
	[TransID] ASC,
	[InvtID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Trigger [SO_TotalAmt]    Script Date: 06/11/2017 11:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[SO_TotalAmt] ON [dbo].[SlsOrderDetail]
FOR INSERT, UPDATE, DELETE
AS 
BEGIN     
   DECLARE @OrderNo NVarchar(20) = (SELECT TOP 1 OrderNo FROM inserted)
   --Tạo Trigger cho bảng Stock
   DECLARE @InvtID NVarchar(20) = (SELECT TOP 1 InvtID FROM inserted)
   
   DECLARE @TotalAmt int= (SELECT SUM((Qty * SalesPrice) + ((Qty * SalesPrice)*0.05) - ((Qty * SalesPrice)*0.01)) FROM SlsOrderDetail WHERE OrderNo = @OrderNo Group by SlsOrderDetail.OrderNo)
   Update SalesOrder set TotalAmt = @TotalAmt where OrderNo = @OrderNo
   
    DECLARE @OrderDisc int = (SELECT SUM((SlsOrderDetail.Qty * SlsOrderDetail.SalesPrice)*0.01) FROM SlsOrderDetail WHERE OrderNo = @OrderNo  Group by SlsOrderDetail.OrderNO)
	Update SalesOrder set OrderDisc = @OrderDisc WHERE OrderNo = @OrderNo 
	
	DECLARE @TaxAmt int = (SELECT SUM((SlsOrderDetail.Qty * SlsOrderDetail.SalesPrice)*0.05) FROM SlsOrderDetail WHERE OrderNo = @OrderNo  Group by SlsOrderDetail.OrderNo)
	Update SalesOrder set TaxAmt = @TaxAmt WHERE OrderNo = @OrderNo 
	--Update dữ liệu cho bảng Stock
	DECLARE @Sales int = (SELECT SUM(SlsOrderDetail.Qty) FROM SlsOrderDetail WHERE InvtID = @InvtID  Group by SlsOrderDetail.InvtID)
	Update Stock set Sales = @Sales WHERE InvtID = @InvtID 
END
GO
/****** Object:  Trigger [SO_Amount]    Script Date: 06/11/2017 11:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[SO_Amount] ON [dbo].[SlsOrderDetail]
FOR INSERT, UPDATE, DELETE
AS 
BEGIN     
    DECLARE @OrderNo NVarchar(20) = (SELECT TOP 1 OrderNo FROM inserted)
    DECLARE @InvtID NVarchar(20) = (SELECT TOP 1 InvtID FROM inserted)
    DECLARE @UnitID NVarchar(20) = (SELECT TOP 1 UnitID FROM inserted)
    
    --DECLARE @DiscAmt int = (SELECT SUM((SlsOrderDetail.Qty * SlsOrderDetail.SalesPrice)*0.01) FROM SlsOrderDetail WHERE OrderNo = @OrderNo and InvtID = @InvtID and UnitID = @UnitID Group by SlsOrderDetail.OrderNo)
	--Update SlsOrderDetail set DiscAmt = @DiscAmt WHERE OrderNo = @OrderNo and InvtID = @InvtID and UnitID = @UnitID
	
	--DECLARE @TaxAmt int = (SELECT SUM((SlsOrderDetail.Qty * SlsOrderDetail.SalesPrice)*0.05) FROM SlsOrderDetail WHERE OrderNo = @OrderNo and InvtID = @InvtID and UnitID = @UnitID Group by SlsOrderDetail.OrderNo)
	--Update SlsOrderDetail set TaxAmt = @TaxAmt WHERE OrderNo = @OrderNo and InvtID = @InvtID and UnitID = @UnitID
    
    DECLARE @Amount int = (SELECT (SUM((Qty * SalesPrice) + ((Qty * SalesPrice)*0.05) - ((Qty * SalesPrice)*0.01))) FROM SlsOrderDetail WHERE OrderNo = @OrderNo and InvtID = @InvtID and UnitID = @UnitID Group by SlsOrderDetail.OrderNo)
    Update SlsOrderDetail set Amount = @Amount where OrderNo = @OrderNo and InvtID = @InvtID and UnitID = @UnitID

	DECLARE @TaxAmt1 int = (SELECT (Qty * SalesPrice)*0.05  FROM SlsOrderDetail where OrderNo = @OrderNo and InvtID = @InvtID and UnitID = @UnitID)
	Update SlsOrderDetail set TaxAmt1 = @TaxAmt1 where OrderNo = @OrderNo and InvtID = @InvtID and UnitID = @UnitID
	
	DECLARE @DiscAmt1 int = (SELECT (Qty * SalesPrice)*0.01 FROM SlsOrderDetail where OrderNo = @OrderNo and InvtID = @InvtID and UnitID = @UnitID)
	Update SlsOrderDetail set DiscAmt1 = @DiscAmt1 where OrderNo = @OrderNo and InvtID = @InvtID and UnitID = @UnitID

END
GO
/****** Object:  Trigger [PO_TotalAmt]    Script Date: 06/11/2017 11:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[PO_TotalAmt] ON [dbo].[PurchaseOrdDetail]
FOR INSERT, UPDATE, DELETE
AS 
BEGIN     
   DECLARE @OrderNO NVarchar(20) = (SELECT TOP 1 OrderNO FROM inserted)
   --Tạo Trigger cho Bảng Stock
   DECLARE @InvtID NVarchar(20) = (SELECT TOP 1 InvtID FROM inserted)
   
   DECLARE @TotalAmt int= (SELECT SUM((Qty * PurchasePrice) + ((Qty * PurchasePrice)*0.05) - ((Qty * PurchasePrice)*0.01)) FROM PurchaseOrdDetail WHERE OrderNO = @OrderNO Group by PurchaseOrdDetail.OrderNO)
   Update PurchaseOrder set TotalAmt = @TotalAmt where OrderNo = @OrderNo
   
    DECLARE @DiscAmt int = (SELECT SUM((PurchaseOrdDetail.Qty * PurchaseOrdDetail.PurchasePrice)*0.01) FROM PurchaseOrdDetail WHERE OrderNO = @OrderNO  Group by PurchaseOrdDetail.OrderNO)
	Update PurchaseOrder set DiscAmt = @DiscAmt WHERE OrderNO = @OrderNO 
	
	DECLARE @TaxAmt int = (SELECT SUM((PurchaseOrdDetail.Qty * PurchaseOrdDetail.PurchasePrice)*0.05) FROM PurchaseOrdDetail WHERE OrderNO = @OrderNO  Group by PurchaseOrdDetail.OrderNO)
	Update PurchaseOrder set TaxAmt = @TaxAmt WHERE OrderNO = @OrderNO 
	--Update dữ liệu cho bảng Stock
	DECLARE @Purchase int = (SELECT SUM(PurchaseOrdDetail.Qty) FROM PurchaseOrdDetail WHERE InvtID = @InvtID  Group by PurchaseOrdDetail.InvtID)
	Update Stock set Purchase = @Purchase WHERE InvtID = @InvtID 
END
GO
/****** Object:  Trigger [PO_Amount]    Script Date: 06/11/2017 11:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[PO_Amount] ON [dbo].[PurchaseOrdDetail]
FOR INSERT, UPDATE, DELETE
AS 
BEGIN     
    DECLARE @OrderNO NVarchar(20) = (SELECT TOP 1 OrderNO FROM inserted)
    DECLARE @InvtID NVarchar(20) = (SELECT TOP 1 InvtID FROM inserted)
    DECLARE @UnitID NVarchar(20) = (SELECT TOP 1 UnitID FROM inserted)
    
    --DECLARE @DiscAmt int = (SELECT SUM((PurchaseOrdDetail.Qty * PurchaseOrdDetail.PurchasePrice)*0.01) FROM PurchaseOrdDetail WHERE OrderNO = @OrderNO  Group by PurchaseOrdDetail.OrderNO)
	--Update PurchaseOrdDetail set DiscAmt = @DiscAmt WHERE OrderNO = @OrderNO 
	
	--DECLARE @TaxAmt int = (SELECT SUM((PurchaseOrdDetail.Qty * PurchaseOrdDetail.PurchasePrice)*0.05) FROM PurchaseOrdDetail WHERE OrderNO = @OrderNO  Group by PurchaseOrdDetail.OrderNO)
	--Update PurchaseOrdDetail set TaxAmt = @TaxAmt WHERE OrderNO = @OrderNO 
    
    DECLARE @Amount int = (SELECT (SUM((Qty * PurchasePrice) + ((Qty * PurchasePrice)*0.05) - ((Qty * PurchasePrice)*0.01))) FROM PurchaseOrdDetail WHERE OrderNO = @OrderNO and InvtID = @InvtID and UnitID = @UnitID Group by PurchaseOrdDetail.OrderNO)
    Update PurchaseOrdDetail set Amount = @Amount where OrderNO = @OrderNO and InvtID = @InvtID and UnitID = @UnitID

	DECLARE @TaxAmt1 int = (SELECT (Qty * PurchasePrice)*0.05  FROM PurchaseOrdDetail where OrderNO = @OrderNO and InvtID = @InvtID and UnitID = @UnitID)
	Update PurchaseOrdDetail set TaxAmt1 = @TaxAmt1 where OrderNO = @OrderNO and InvtID = @InvtID and UnitID = @UnitID
	
	DECLARE @DiscAmt1 int = (SELECT (Qty * PurchasePrice)*0.01 FROM PurchaseOrdDetail where OrderNO = @OrderNO and InvtID = @InvtID and UnitID = @UnitID)
	Update PurchaseOrdDetail set DiscAmt1 = @DiscAmt1 where OrderNO = @OrderNO and InvtID = @InvtID and UnitID = @UnitID

END
GO
/****** Object:  Default [DF__Customer__MaxDeb__30F848ED]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[Customer] ADD  DEFAULT ((0)) FOR [MaxDebt]
GO
/****** Object:  Default [DF__Customer__Overdu__31EC6D26]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[Customer] ADD  DEFAULT ((0)) FOR [Overdue]
GO
/****** Object:  Default [DF__Customer__Amount__32E0915F]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[Customer] ADD  DEFAULT ((0)) FOR [Amount]
GO
/****** Object:  Default [DF__Customer__OverDu__33D4B598]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[Customer] ADD  DEFAULT ((0)) FOR [OverDueAmt]
GO
/****** Object:  Default [DF__Customer__DueAmt__34C8D9D1]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[Customer] ADD  DEFAULT ((0)) FOR [DueAmt]
GO
/****** Object:  Default [DF__Employee__MaxDeb__35BCFE0A]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[Employee] ADD  DEFAULT ((0)) FOR [MaxDebt]
GO
/****** Object:  Default [DF__Employee__MaxRec__36B12243]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[Employee] ADD  DEFAULT ((0)) FOR [MaxReceive]
GO
/****** Object:  Default [DF__Inventory__Sales__37A5467C]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[Inventory] ADD  DEFAULT ((0)) FOR [SalesPriceT]
GO
/****** Object:  Default [DF__Inventory__Sales__38996AB5]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[Inventory] ADD  DEFAULT ((0)) FOR [SalesPriceL]
GO
/****** Object:  Default [DF__Inventory__SlsTa__398D8EEE]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[Inventory] ADD  DEFAULT ((0)) FOR [SlsTax]
GO
/****** Object:  Default [DF__Inventory__QtySt__3A81B327]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[Inventory] ADD  DEFAULT ((0)) FOR [QtyStock]
GO
/****** Object:  Default [DF__Inventory__UnitR__3B75D760]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[Inventory] ADD  DEFAULT ((0)) FOR [UnitRate]
GO
/****** Object:  Default [DF__Inventory__Purch__3C69FB99]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[Inventory] ADD  DEFAULT ((0)) FOR [Purchase]
GO
/****** Object:  Default [DF__Inventory__Sales__3D5E1FD2]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[Inventory] ADD  DEFAULT ((0)) FOR [Sales]
GO
/****** Object:  Default [DF__PurchaseOrd__Qty__3E52440B]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[PurchaseOrdDetail] ADD  DEFAULT ((0)) FOR [Qty]
GO
/****** Object:  Default [DF__PurchaseO__Purch__3F466844]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[PurchaseOrdDetail] ADD  DEFAULT ((0)) FOR [PurchasePrice]
GO
/****** Object:  Default [DF__PurchaseO__DiscA__403A8C7D]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[PurchaseOrdDetail] ADD  DEFAULT ((0)) FOR [DiscAmt]
GO
/****** Object:  Default [DF__PurchaseO__Amoun__412EB0B6]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[PurchaseOrdDetail] ADD  DEFAULT ((0)) FOR [Amount]
GO
/****** Object:  Default [DF__PurchaseO__QtyPr__4222D4EF]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[PurchaseOrdDetail] ADD  DEFAULT ((0)) FOR [QtyProm]
GO
/****** Object:  Default [DF__PurchaseO__QtyPr__4316F928]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[PurchaseOrdDetail] ADD  DEFAULT ((0)) FOR [QtyPromAmt]
GO
/****** Object:  Default [DF__PurchaseO__AmtPr__440B1D61]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[PurchaseOrdDetail] ADD  DEFAULT ((0)) FOR [AmtProm]
GO
/****** Object:  Default [DF__PurchaseO__TaxAm__44FF419A]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[PurchaseOrdDetail] ADD  DEFAULT ((0)) FOR [TaxAmt]
GO
/****** Object:  Default [DF__PurchaseO__DiscA__45F365D3]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[PurchaseOrdDetail] ADD  DEFAULT ((0)) FOR [DiscAmt1]
GO
/****** Object:  Default [DF__PurchaseO__TaxAm__46E78A0C]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[PurchaseOrdDetail] ADD  DEFAULT ((0)) FOR [TaxAmt1]
GO
/****** Object:  Default [DF__PurchaseO__DiscA__47DBAE45]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[PurchaseOrder] ADD  DEFAULT ((0)) FOR [DiscAmt]
GO
/****** Object:  Default [DF__PurchaseO__TaxAm__48CFD27E]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[PurchaseOrder] ADD  DEFAULT ((0)) FOR [TaxAmt]
GO
/****** Object:  Default [DF__PurchaseO__Total__49C3F6B7]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[PurchaseOrder] ADD  DEFAULT ((0)) FOR [TotalAmt]
GO
/****** Object:  Default [DF__PurchaseO__PromA__4AB81AF0]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[PurchaseOrder] ADD  DEFAULT ((0)) FOR [PromAmt]
GO
/****** Object:  Default [DF__PurchaseO__ComAm__4BAC3F29]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[PurchaseOrder] ADD  DEFAULT ((0)) FOR [ComAmt]
GO
/****** Object:  Default [DF__SalesOrde__Total__4CA06362]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[SalesOrder] ADD  DEFAULT ((0)) FOR [TotalAmt]
GO
/****** Object:  Default [DF__SalesOrde__Order__4D94879B]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[SalesOrder] ADD  DEFAULT ((0)) FOR [OrderDisc]
GO
/****** Object:  Default [DF__SalesOrde__TaxAm__4E88ABD4]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[SalesOrder] ADD  DEFAULT ((0)) FOR [TaxAmt]
GO
/****** Object:  Default [DF__SalesOrde__Payme__4F7CD00D]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[SalesOrder] ADD  DEFAULT ((0)) FOR [Payment]
GO
/****** Object:  Default [DF__SalesOrder__Debt__5070F446]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[SalesOrder] ADD  DEFAULT ((0)) FOR [Debt]
GO
/****** Object:  Default [DF__SalesOrder__VAT__5165187F]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[SalesOrder] ADD  DEFAULT ((0)) FOR [VAT]
GO
/****** Object:  Default [DF__SlsOrderD__Sales__52593CB8]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[SlsOrderDetail] ADD  DEFAULT ((0)) FOR [SalesPrice]
GO
/****** Object:  Default [DF__SlsOrderD__DiscA__534D60F1]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[SlsOrderDetail] ADD  DEFAULT ((0)) FOR [DiscAmt]
GO
/****** Object:  Default [DF__SlsOrderD__TaxAm__5441852A]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[SlsOrderDetail] ADD  DEFAULT ((0)) FOR [TaxAmt]
GO
/****** Object:  Default [DF__SlsOrderD__Amoun__5535A963]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[SlsOrderDetail] ADD  DEFAULT ((0)) FOR [Amount]
GO
/****** Object:  Default [DF__SlsOrderD__Disco__5629CD9C]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[SlsOrderDetail] ADD  DEFAULT ((0)) FOR [Discount]
GO
/****** Object:  Default [DF__SlsOrderD__DiscA__571DF1D5]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[SlsOrderDetail] ADD  DEFAULT ((0)) FOR [DiscAmt1]
GO
/****** Object:  Default [DF__SlsOrderD__TaxAm__5812160E]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[SlsOrderDetail] ADD  DEFAULT ((0)) FOR [TaxAmt1]
GO
/****** Object:  Default [DF__Stock__Quantity__59063A47]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[Stock] ADD  DEFAULT ((0)) FOR [Quantity]
GO
/****** Object:  Default [DF__Stock__Purchase__59FA5E80]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[Stock] ADD  DEFAULT ((0)) FOR [Purchase]
GO
/****** Object:  Default [DF__Stock__Sales__5AEE82B9]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[Stock] ADD  DEFAULT ((0)) FOR [Sales]
GO
/****** Object:  Check [CK__Customer__Status__5BE2A6F2]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD CHECK  (([StatusCust]='UA' OR [StatusCust]='AV' OR [StatusCust]='DE'))
GO
/****** Object:  Check [CK__Employee__Status__5CD6CB2B]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD CHECK  (([StatusEmployee]='NHD' OR [StatusEmployee]='DHD'))
GO
/****** Object:  ForeignKey [Customer_IDEmployee_Fk]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [Customer_IDEmployee_Fk] FOREIGN KEY([IDEmployee])
REFERENCES [dbo].[Employee] ([IDEmployee])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [Customer_IDEmployee_Fk]
GO
/****** Object:  ForeignKey [Inventory_UnitID_Fk]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[Inventory]  WITH CHECK ADD  CONSTRAINT [Inventory_UnitID_Fk] FOREIGN KEY([UnitID])
REFERENCES [dbo].[Unit] ([UnitID])
GO
ALTER TABLE [dbo].[Inventory] CHECK CONSTRAINT [Inventory_UnitID_Fk]
GO
/****** Object:  ForeignKey [Payment_CustID_Fk]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [Payment_CustID_Fk] FOREIGN KEY([CustID])
REFERENCES [dbo].[Customer] ([CustID])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [Payment_CustID_Fk]
GO
/****** Object:  ForeignKey [Payment_SalesPersonID_Fk]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [Payment_SalesPersonID_Fk] FOREIGN KEY([SalesPersonID])
REFERENCES [dbo].[Employee] ([IDEmployee])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [Payment_SalesPersonID_Fk]
GO
/****** Object:  ForeignKey [PurchaseOrdDetail_InvtID_Fk]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[PurchaseOrdDetail]  WITH CHECK ADD  CONSTRAINT [PurchaseOrdDetail_InvtID_Fk] FOREIGN KEY([InvtID])
REFERENCES [dbo].[Inventory] ([InvtID])
GO
ALTER TABLE [dbo].[PurchaseOrdDetail] CHECK CONSTRAINT [PurchaseOrdDetail_InvtID_Fk]
GO
/****** Object:  ForeignKey [PurchaseOrdDetail_OrderNO_Fk]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[PurchaseOrdDetail]  WITH CHECK ADD  CONSTRAINT [PurchaseOrdDetail_OrderNO_Fk] FOREIGN KEY([OrderNO])
REFERENCES [dbo].[PurchaseOrder] ([OrderNO])
GO
ALTER TABLE [dbo].[PurchaseOrdDetail] CHECK CONSTRAINT [PurchaseOrdDetail_OrderNO_Fk]
GO
/****** Object:  ForeignKey [PurchaseOrdDetail_UnitID_Fk]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[PurchaseOrdDetail]  WITH CHECK ADD  CONSTRAINT [PurchaseOrdDetail_UnitID_Fk] FOREIGN KEY([UnitID])
REFERENCES [dbo].[Unit] ([UnitID])
GO
ALTER TABLE [dbo].[PurchaseOrdDetail] CHECK CONSTRAINT [PurchaseOrdDetail_UnitID_Fk]
GO
/****** Object:  ForeignKey [SalesOrder_CustID_Fk]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[SalesOrder]  WITH CHECK ADD  CONSTRAINT [SalesOrder_CustID_Fk] FOREIGN KEY([CustID])
REFERENCES [dbo].[Customer] ([CustID])
GO
ALTER TABLE [dbo].[SalesOrder] CHECK CONSTRAINT [SalesOrder_CustID_Fk]
GO
/****** Object:  ForeignKey [SalesOrder_IDEmployee_Fk]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[SalesOrder]  WITH CHECK ADD  CONSTRAINT [SalesOrder_IDEmployee_Fk] FOREIGN KEY([IDEmployee])
REFERENCES [dbo].[Employee] ([IDEmployee])
GO
ALTER TABLE [dbo].[SalesOrder] CHECK CONSTRAINT [SalesOrder_IDEmployee_Fk]
GO
/****** Object:  ForeignKey [SlsOrderDetail_InvtID_Fk]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[SlsOrderDetail]  WITH CHECK ADD  CONSTRAINT [SlsOrderDetail_InvtID_Fk] FOREIGN KEY([InvtID])
REFERENCES [dbo].[Inventory] ([InvtID])
GO
ALTER TABLE [dbo].[SlsOrderDetail] CHECK CONSTRAINT [SlsOrderDetail_InvtID_Fk]
GO
/****** Object:  ForeignKey [SlsOrderDetail_OrderNo_Fk]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[SlsOrderDetail]  WITH CHECK ADD  CONSTRAINT [SlsOrderDetail_OrderNo_Fk] FOREIGN KEY([OrderNo])
REFERENCES [dbo].[SalesOrder] ([OrderNo])
GO
ALTER TABLE [dbo].[SlsOrderDetail] CHECK CONSTRAINT [SlsOrderDetail_OrderNo_Fk]
GO
/****** Object:  ForeignKey [SlsOrderDetail_UnitID_Fk]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[SlsOrderDetail]  WITH CHECK ADD  CONSTRAINT [SlsOrderDetail_UnitID_Fk] FOREIGN KEY([UnitID])
REFERENCES [dbo].[Unit] ([UnitID])
GO
ALTER TABLE [dbo].[SlsOrderDetail] CHECK CONSTRAINT [SlsOrderDetail_UnitID_Fk]
GO
/****** Object:  ForeignKey [StkTransDetail_InvtID_Fk]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[StkTransDetail]  WITH CHECK ADD  CONSTRAINT [StkTransDetail_InvtID_Fk] FOREIGN KEY([InvtID])
REFERENCES [dbo].[Inventory] ([InvtID])
GO
ALTER TABLE [dbo].[StkTransDetail] CHECK CONSTRAINT [StkTransDetail_InvtID_Fk]
GO
/****** Object:  ForeignKey [StkTransDetail_TransID_Fk]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[StkTransDetail]  WITH CHECK ADD  CONSTRAINT [StkTransDetail_TransID_Fk] FOREIGN KEY([TransID])
REFERENCES [dbo].[StockTransfer] ([TransID])
GO
ALTER TABLE [dbo].[StkTransDetail] CHECK CONSTRAINT [StkTransDetail_TransID_Fk]
GO
/****** Object:  ForeignKey [Stock_InvtID_Fk]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[Stock]  WITH CHECK ADD  CONSTRAINT [Stock_InvtID_Fk] FOREIGN KEY([InvtID])
REFERENCES [dbo].[Inventory] ([InvtID])
GO
ALTER TABLE [dbo].[Stock] CHECK CONSTRAINT [Stock_InvtID_Fk]
GO
/****** Object:  ForeignKey [Stock_UnitID_Stock_Fk]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[Stock]  WITH CHECK ADD  CONSTRAINT [Stock_UnitID_Stock_Fk] FOREIGN KEY([UnitID_Stock])
REFERENCES [dbo].[Unit] ([UnitID])
GO
ALTER TABLE [dbo].[Stock] CHECK CONSTRAINT [Stock_UnitID_Stock_Fk]
GO
/****** Object:  ForeignKey [StockTransfer_FromStockID_Fk]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[StockTransfer]  WITH CHECK ADD  CONSTRAINT [StockTransfer_FromStockID_Fk] FOREIGN KEY([FromStockID])
REFERENCES [dbo].[Stock] ([StockID])
GO
ALTER TABLE [dbo].[StockTransfer] CHECK CONSTRAINT [StockTransfer_FromStockID_Fk]
GO
/****** Object:  ForeignKey [StockTransfer_ToStockID_Fk]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[StockTransfer]  WITH CHECK ADD  CONSTRAINT [StockTransfer_ToStockID_Fk] FOREIGN KEY([ToStockID])
REFERENCES [dbo].[Stock] ([StockID])
GO
ALTER TABLE [dbo].[StockTransfer] CHECK CONSTRAINT [StockTransfer_ToStockID_Fk]
GO
/****** Object:  ForeignKey [FK_dbo.UserName_dbo.Employee_Employee_IDEmployee]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[UserName]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserName_dbo.Employee_Employee_IDEmployee] FOREIGN KEY([Employee_IDEmployee])
REFERENCES [dbo].[Employee] ([IDEmployee])
GO
ALTER TABLE [dbo].[UserName] CHECK CONSTRAINT [FK_dbo.UserName_dbo.Employee_Employee_IDEmployee]
GO
/****** Object:  ForeignKey [Vendor_InvtID_Fk]    Script Date: 06/11/2017 11:11:48 ******/
ALTER TABLE [dbo].[Vendor]  WITH CHECK ADD  CONSTRAINT [Vendor_InvtID_Fk] FOREIGN KEY([InvtID])
REFERENCES [dbo].[Inventory] ([InvtID])
GO
ALTER TABLE [dbo].[Vendor] CHECK CONSTRAINT [Vendor_InvtID_Fk]
GO
