@{
    ViewBag.Title = "Do An 1 - Index";
}

<div class="jumbotron">
    <h1>Đồ Án 1</h1>
    <p class="lead">Giảng Viên hướng dẫn: Th.S Đỗ Như Tài</p>
    <p>Sinh viên:</p>
	<ul>Dương Thành Dũng</ul>
	<ul>Trần Đại Nhân</ul>
	<ul>Mai Trần Viễn Dương</ul>
</div>
