/* =========================================
===  CSS TABLE CONTENT  ====
============================================ 

	1.0 Global Style
	2.0 Header
	2.1 Mega Menu 
	2.2 Navbar
	3.0 Slideshow
	4.0 Banner
	5.0 Owl-Carousel
	6.0 Column Left
	6.1 Product
	6.2 Special Offer
	6.3 Block: Layered Navigation
	6.4 Testimonial
	7.0 Column Right
	7.1 Page Heading & Tittle Group
	7.2 Toolbar
	7.3 Product List
	7.4 Product Shop
	8.0 Blog Page
	9.0 Cart Page
	10.0 Checkout Page
	11.0 404 Page
	12.0 Contact Page
	13.0 Catlist
	14.0 Brand
	15.0 Footer
	16.0 Form

============================================
===  END CSS TABLE CONTENT  ====
============================================ */

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #404040;
}

/* Global Style */
a {
    color: #404040;
}
a:hover,
a:focus {
    text-decoration: none;
    color: #d8373e;
}
.text-primary {
    color: #d8373e;
}
.fwb {
    font-weight: 700;
}
.mt30{
	margin-top:30px;
}
/* Custom Column */
.col-smc-7 {
    width: 55.5555%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
.col-smc-5 {
    width: 44.4445%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
/* BreadCrumbs */


/* Header */
.topbar {
    border-bottom: 1px solid #d9d9d9;
    color: #404040;
    position: relative;
    min-height: 38px;
}
.topbar-left {
    float: left;
}
.topbar-right {
    float: right;
}
.topbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}
.topbar-nav > li {
    float: left;
}
.topbar-nav > li:last-child {
    border-right: 1px solid #d9d9d9;
}
.topbar-nav > li > a,
.topbar-nav > li > span {
    color: #404040;
    line-height: 37px;
    font-size: 11px;
    border-left: 1px solid #d9d9d9;
    padding-left: 15px;
    padding-right: 15px;
    display: block;
}
.topbar-nav > li > a:hover,
.topbar-nav > li > a:focus {
    color: #d8373e;
    text-decoration: none;
}
.email:before,
.phone:before,
.login:before,
.account:before,
.currency:before,
.language:before {
    display: block;
    float: left;
    font-family: FontAwesome;
    font-size: 14px;
    height: 37px;
    line-height: 37px;
    margin-right: 5px;
    text-align: left;
    width: 16px;
}
.email:before {
    content: "\f0e0";
}
.phone:before {
    content: "\f095";
}
.login:before {
    content: "\f13e";
}
.account:before {
    content: "\f007";
}
.currency:before {
    content: "\f0d6";
}
.language img {
    margin-right: 5px;
}
.account:after,
.currency:after,
.language:after {
    display: inline-block;
    content: "\f107";
    line-height: 35px;
    font-family: FontAwesome;
    font-size: 14px;
    margin-left: 5px;
}
.dropdown-menu {
    border-radius: 0;
    border: 0;
    margin-top: 1px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .15);
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, .15);
    padding: 5px 25px;
}
.dropdown-menu > li > a {
    font-size: 12px;
    border-bottom: 1px solid #d9d9d9;
    line-height: 20px;
    padding: 10px 0;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background-color: transparent;
    color: #d8373e;
}
.dropdown-menu > li:last-child > a {
    border-bottom: 0;
}
.header-bottom {
    border-bottom: 3px solid #d8373e;
}

}
.support-client {
    margin-top: 25px;
}
.support-client .box-container {
    color: #898989;
    text-align: left;
    margin-bottom: 25px;
}
.support-client .box-container:before {
    border: 1px solid #d9d9d9;
    float: left;
    font-family: FontAwesome;
    font-size: 30px;
    height: 40px;
    text-align: center;
    width: 60px;
    line-height: 38px;
}
.support-client .time:before {
    content: "\f017";
}
.support-client .free-shipping:before {
    content: "\f0d1";
}
.support-client .money-back:before {
    content: "\f0d6";
}
.support-client .box-container .box-inner {
    margin-left: 70px;
}
.support-client h2 {
    color: #898989;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
}
.support-client p {
    margin: 0;
}


/* Mega Menu */
.mega-container {
    position: relative;
    z-index: 10000;
}
.navleft-container {
    position: absolute;
    width: 100%;
	float:left;
}
.mega-menu-title {
    border-radius: 4px 0 0 0;
    background-color: #d8373e;
    color: #fff;
    cursor: pointer;
}
.mega-menu-title h3 {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    padding: 10px ;
   
}
.mega-menu-title h3:after {
    content: "";
    display: inline-block;
    background: #c5282f url(../images/icon-mega.png) no-repeat 50% 50%;
    width: 52px;
    height: 38px;
    position: absolute;
    top: 0;
    right: 0;
}
.mega-menu-category {
    border: 1px solid #d9d9d9;
    border-top: 0;
	
}
.mega-menu-category > .nav > li > a {
    border-bottom: 2px solid #f1f1f1;
    padding: 16.5px 15px;
    color: #404040;
    background-color: #fff;
}
.mega-menu-category > .nav > li > a:before {
    content: "\f068";
    font-family: FontAwesome;
    display: inline-block;
    font-size: 14px;
    margin-right: 10px;
}
.mega-menu-category > .nav > li > a:after {
    content: "\f105";
    font-family: FontAwesome;
    display: inline-block;
    font-size: 14px;
    position: absolute;
    right: 15px;
}
.mega-menu-category > .nav > li.nosub > a:after {
    display: none;
}
.mega-menu-category > .nav > li.more-menu {
    display: none;
}
.mega-menu-category > .nav > li.view-more > a {
    border-bottom: 0;
}
.mega-menu-category > .nav > li.view-more > a:after {
    content: "\f0fe";
}
.mega-menu-category > .nav > li > a:hover,
.mega-menu-category > .nav > li > a:focus,
.mega-menu-category > .nav > li.active > a {
    background-color: #d8373e;
    color: #fff;
}
.wrap-popup {
    position: absolute;
    left: 110%;
    top: 0;
    width: 600px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    z-index: 100;
}
.wrap-popup.column2 {
    width: 400px;
}
.wrap-popup.column1 {
    width: 100px;
}
.mega-menu-category > .nav > li.active .wrap-popup {
    left: 100%;
}
.popup {
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .15);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .15);
    display: none;
    text-align: left;
    z-index: 3000;
    padding: 30px;
}
.popup h3 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 20px;
}
.popup .nav > li > a {
    text-transform: uppercase;
    color: #404040;
    padding: 7px 0;
}
.popup .nav > li > a:hover,
.popup .nav > li > a:focus {
    color: #d8373e;
    background-color: transparent;
}
.box-banner {
    border-bottom: 2px solid #e5e5e5;
    padding-bottom: 10px;
}
.box-banner + .box-banner {
    margin-top: 10px;
}
.box-banner:last-child {
    border-bottom: 0;
    padding-bottom: 0;
}
.box-banner h3 {
    color: #404040;
    font-weight: 700;
    font-size: 22px;
    text-transform: capitalize;
    margin: 0;
}
.box-banner .price-sale {
    color: #d8373e;
    font-size: 40px;
    line-height: 40px;
    font-weight: 300;
}
.box-banner .price-sale sub,
.box-banner .price-sale sup {
    font-size: 16px;
    font-weight: 700;
}
.box-banner .price-sale sub {
    bottom: 3px;
    left: -22px;
}
.box-banner .price-sale sup {
    top: -17px;
    left: -8px;
}
.box-banner a {
    text-transform: capitalize;
    color: #7e7e7e;
    text-decoration: underline;
}
.box-banner a:hover {
    color: #d8373e;
}
.has-sep:before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    border-left: 1px solid #e5e5e5;
    left: -10px;
}

/* Navbar */
.navbar-primary {
    background-color: #d8373e;
    margin: 0;
    border: 0;
}
.navbar-brand {
    margin-top: 0;
    margin-bottom: 0;
}
.navbar-primary .navbar-brand {
    color: #fff;
    font-weight: 700;
}
.navbar-nav > li > a {
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
}
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus,
.navbar-nav > li.active > a,
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: transparent;
    color: #000;
}

/* Slideshow */


/* Banner */

/* owl-carousel */

/* col-left */

/* Product */

/* Special price */

.special-price {
    margin: 0;
    padding: 3px 0;
}
.special-price .price-label {
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
    color: #cd5033;
    display: none;
}
.special-price .price {
    font-weight: normal;
}
.timely .price {
    font-size: 16px;
    font-weight: 700;
}

/* Special Offer */
.block {
    margin-bottom: 30px;
}
.block.block-list {
    border: 1px solid #e5e5e5;
    padding: 15px 20px;
}
.block .block-title {
    margin-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
}
.block .block-title strong {
    padding: 0;
    display: block;
    font-weight: normal;
    font-size: 20px;
    text-transform: capitalize;
    color: #222;
    font-weight: normal;
    margin: 0;
    padding-bottom: 10px;
}
.block .title-group {
    margin-bottom: 20px;
}
.block .owl-theme .owl-controls .owl-buttons {
    top: -47px;
}
.sepecialoffer-item .item-inner,


/* Bx Slider */
.bx-wrapper {
    max-width: 100% !important;
    position: relative;
}
.bx-wrapper .bx-viewport {} .bx-wrapper .bx-viewport .bxslider,
.bx-wrapper .bx-viewport .products-grid {
    width: 20000% !important;
}
.bx-wrapper .bx-controls-direction a {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    font-size: 0;
    z-index: 1;
    font-family: FontAwesome;
    display: block;
    color: #4c4c4c;
    text-decoration: none;
    opacity: 0;
}
.bx-wrapper:hover .bx-controls-direction a {
    opacity: 1;
}
.bx-wrapper .bx-controls-direction a:before {
    font-size: 14px;
    font-family: FontAwesome;
    display: block;
    text-align: center;
}
.bx-wrapper .bx-controls-direction a:hover {
    color: #d8373e;
}
.bx-wrapper .bx-controls-direction a.bx-prev {
    left: 0;
}
.bx-wrapper .bx-controls-direction a.bx-prev:before {
    content: "\f104";
}
.bx-wrapper .bx-controls-direction a.bx-next {
    right: 0;
}
.bx-wrapper .bx-controls-direction a.bx-next:before {

    content: "\f105";
}

/* Blog Page */
.menu-recent .item-inner .des-container {
    margin-top: 15px;
    position: relative;
}
.menu-recent .date-comments {
    color: #949494;
    font-size: 11px;
    overflow: hidden;
    text-align: right;
    text-transform: capitalize;
}
.menu-recent .des-container .des,
.blog-index-list .des-container .des {
    color: #5b5b5b;
}
.menu-recent .des-container .des h4 {
    color: #404040;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
}
.menu-recent .des-container .des h4 a {
    color: #404040;
}
.menu-recent .des-container .des h4 a:hover {
    color: #d8373e;
}

/* Blog Page: Comments */

/* Blog Page: List */

/* Cart Page */

/* Checkout Page */

/* Catlist */

/* Brand */
.main {
	padding-top:40px;
}
.main h1 {
	color: #c5282f;
	text-align:center;
}
.col-lg-9
{
	padding: 50px 100px 100px;
	
}
.col-lg-9 h2 {
	color:#c5282f ;
}
.form-inline{
	margin-top:10px;
	
}
.form-group{
	margin-left:10px;
	margin-right:10px;
	margin-top:10px;
}
.form-inline #input
{
	padding-left:50px;
}
.main .container-fluid #input{
	text-align: left;
	

	
	
}

/* Footer */
/* Footer Top */
